<div class="createhbs">
  <section class="exampleSide">
    <nav class="mainHeader"></nav>
    <h1 class="quote">Company Quote</h1>
    <div class="midSection">
      <div class="hero">
        <div class="block"></div>
        <div></div>
      </div>
      <div class="titleAndP">
        <h2 class="exTitle">Title Header</h2>
        <div class="exParagraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
          molestiae sunt minima mollitia qui incidunt dignissimos nam tempore
          pariatur ipsa voluptatibus adipisci voluptas ad accusamus fuga
          eligendi! Id, pariatur voluptas.</div>
      </div>
    </div>
    <footer class="exFooter"></footer>
  </section>

  <section class="chooserSide">
    <div class="fontOptions">
      <select class="form-select" aria-label="Default select example">
        <option selected>Font 1</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <select class="form-select" aria-label="Default select example">
        <option selected>Font 2</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <select class="form-select" aria-label="Default select example">
        <option selected>Font 3</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="colorOptions">
      <div class="colors" id="color1"></div>
      <div class="colors" id="color2"></div>
      <div class="colors" id="color3"></div>
    </div>
    <div class="buttons">
      <button class="btn" id="saveBtn">Save</button>
      <button class="btn" id="favBtn">Favorite</button>
    </div>
  </section>
</div>