<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./public/css/createstyle.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="exampleSide">
      <div class="mainHeader">
        <h1>Company Quote</h1>
      </div>

      <div class="midSection">
        <div class="heroColor"></div>
        <div class="titleAndP">
          <div class="exTitle">Title Header</div>
          <div class="exParagraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
            molestiae sunt minima mollitia qui incidunt dignissimos nam tempore
            pariatur ipsa voluptatibus adipisci voluptas ad accusamus fuga
            eligendi! Id, pariatur voluptas.</div>
        </div>
      </div>

      <div class="exFooter"></div>
    </section>

    <section class="chooserSide">
      <div class="fontOptions">
        <form name="form1" id="form1" action="/action_page.php">
          Font1:
          <select name="Font1" id="Font1">
            <option value="" selected="selected">Select Font1</option>
          </select>
          <br /><br />
          Font2:
          <select name="Font2" id="Font2">
            <option value="" selected="selected">Please select Font1 first</option>
          </select>
          <br /><br />
          Font3:
          <select name="Font3" id="Font3">
            <option value="" selected="selected">Please select Font2 first</option>
          </select>
        </form>
      </div>
      <div class="colorOptions">
        <div id="color1">Red</div>
        <div id="color2">Green</div>
        <div id="color3">Blue</div>
      </div>
      <div class="buttons">
        <button id="saveBtn">Save</button>
        <button id="favBtn">Favorite</button>
      </div>
    </section>

  </body>
</html>