<div class="createhbs">
  <section class="exampleSide">
    <nav class="mainHeader"></nav>
    <h1 class="quote">Company Quote</h1>
    <div class="midSection">
      <div class="hero">
        <div class="block"></div>
        <div></div>
      </div>
      <div class="titleAndP">
        <h2 class="exTitle">Title Header</h2>
        <div class="exParagraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia,
          molestiae sunt minima mollitia qui incidunt dignissimos nam tempore
          pariatur ipsa voluptatibus adipisci voluptas ad accusamus fuga
          eligendi! Id, pariatur voluptas.</div>
      </div>
    </div>
    <footer class="exFooter"></footer>
  </section>

  <section class="chooserSide">
    <div class="fontOptions">
      <select id="select1" class="form-select" aria-label="Default select example">
        <option selected>Header</option>
        <option value="1">Times New Roman</option>
        <option value="2">Gill Sans</option>
        <option value="3">Verdana</option>
      </select>
      <select id="select2" class="form-select" aria-label="Default select example">
        <option selected>Body</option>
        <option value="1">Times New Roman</option>
        <option value="2">Gill Sans</option>
        <option value="3">Verdana</option>
      </select>
      <select id="select3" class="form-select" aria-label="Default select example">
        <option selected>Footer</option>
        <option value="1">Times New Roman</option>
        <option value="2">Gill Sans</option>
        <option value="3">Verdana</option>
      </select>
    </div>
    <div class="colorOptions">
      <div>
        <input type="color" id="head" name="head" value="#EE9B9B">
        <label for="head"></label>
      </div>
      <div>
        <input type="color" id="body" name="body" value="#59808F">
        <label for="body"></label>
      </div>
      <div>
        <input type="color" id="footer" name="footer" value="#413E3E">
        <label for="footer"></label>
      </div>
    </div>
    <div class="buttons">
      <button class="btn" id="saveBtn">Save</button>
      <button class="btn" id="favBtn">Favorite</button>
    </div>
    </div>
  </section>
</div>

<script src="./js/create.js"></script>