<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class = "exampleSide">
        <div class = "title" > 
            <h1>Company Quote</h1>
        </div>

        <div class = "midSection">

        </div>

        <footer></footer>
    </section>

    <section class = "chooserSide">
        <div></div>
        <div></div>
        <div></div>
    </section>
    
</body>
</html>