<div class="main-content d-flex justify-content-between">

          <div class="ad">
            <p class="ad1">Simply create your <br> website's color & font <br> using Pallete-Cleanser</p>
            <p class="ad2">try using color combination from other <br> user's style for inspiration</p>
            <div>
              <button class="dl-bt">Download App</button>
              <button class="gt-bt">Get started</button>
            </div>
          </div>
          <div class="ad-img-container">
            <img class="displayTemplate" src="../img/macbook.png" alt="">
          </div>

          
    </div>

    <div class="card-section d-flex team-card ">
      <div class="d-flex align-items-center justify-items-center px-4"><img class="rounded-circle" src="https://via.placeholder.com/150x150" alt=""></div>
      <div class="team-card-info">
        <p class="h3">Sai Casinillo<p>
        <p class="h5">Web Developer<p>
        <p class="h8">Worked on the front end and css and alot of stuff that is important</p>
        <div>
          <button>github</button>
          <button>linkedin</button>
        </div>
      </div>
    </div>
      

      
   
    
    <footer class="hmfooter">
      <div class="d-flex justify-content-evenly">
        <div>
          <span>Pallete Cleaner</span>
          <span>X</span>
          <span>X</span>
          <span>X</span>
          <span>X</span>
        </div>
        <div class="d-flex flex-column">
          <span>home</span>
          <span>about</span>
          <span>contact us</span>
        </div>
        <div class="d-flex flex-column"> 
          <span>Downloads</span>
          <span>Copyrights</span>
          <span>FAQ</span>
        </div>
        <div class="d-flex flex-column">
          <span>sign up for newsletter</span>
          <input type="text" placeholder="enter your email address" name="" id="">
          <button>Sign Up</button>
        </div>
      </div>
      
    </footer>
