
<div class="main-content d-flex justify-content-center">

  <div class="ad">
      <p class="ad1">Simply create your <br> website's color & font <br> using Pallete-Cleanser</p>
      <p class="ad2">try using color combination from other <br> user's style for inspiration</p>
      <div>
        <button class="dl-bt">Download App</button>
        <button class="gt-bt">Get started</button> 
      </div>
    </div>
    <div class="ad-img-container">
      <div class="displayTemplate"></div>
    </div>      
  </div>

  <!-- Development team-->
  <div class="mt-4 container d-flex justify-content-center ">
    <div class="row justify-content-center">
      <div class="one team-card d-flex flex-column align-items-center mt-2 col-sm-12 col-md-6">

        
        <div class="profile-container">
          <img src="/img/cj.png" alt="" class="profile">
        </div>

        <div class="card-info d-flex flex-column">
          <p class="h1">Jose</p>
          <p class="h6">Front-end developer</p>
        

          <div class="profile-button-container">
              <button class="gh-bt">Github</button>
              <button class="gh-bt">Linkedin</button>
          </div>

        </div>
        
      </div>

      <div class="two team-card d-flex flex-column align-items-center mt-2 col-sm-12 col-md-6">

        
        <div class="profile-container">
          <img src="/img/cj.png" alt="" class="profile">
        </div>

        <div class="card-info d-flex flex-column">
          <p class="h1">Matt</p>
          <p class="h6">Front-end developer</p>
        

          <div class="profile-button-container">
              <button class="gh-bt">Github</button>
              <button class="gh-bt">Linkedin</button>
          </div>

        </div>
        
      </div>

      <div class="three team-card d-flex flex-column align-items-center mt-2 col-sm-12 col-md-6">

        
        <div class="profile-container">
          <img src="/img/cj.png" alt="" class="profile">
        </div>

        <div class="card-info d-flex flex-column">
          <p class="h1">Gavin</p>
          <p class="h6">Front-end developer</p>
        

          <div class="profile-button-container">
              <button class="gh-bt">Github</button>
              <button class="gh-bt">Linkedin</button>
          </div>

        </div>
        
      </div>

      <div class="four team-card d-flex flex-column align-items-center mt-2 col-sm-12 col-md-6">

        
        <div class="profile-container">
          <img src="/img/cj.png" alt="" class="profile">
        </div>

        <div class="card-info d-flex flex-column">
          <p class="h1">Sai</p>
          <p class="h6">Front-end developer</p>
        

          <div class="profile-button-container">
              <button class="gh-bt">Github</button>
              <button class="gh-bt">Linkedin</button>
          </div>

        </div>
        
      </div>
    </div> <!--row ending-->


   


  </div>
  
  <!-- Development team-->
  
</div>