<div class="row">
  <div class="yer col-md-12 col-lg-6">
    

    <form class="form login-form">
      <div class="logincard">
        <h2>Login</h2>
        <div class="form-group d-flex flex-column mt-5">
          <label for="email-login">username:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group d-flex flex-column mt-2 mb-2">
          <label for="password-login">password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="lgbtn" type="submit">login</button>
        </div>
      </div>
    </form>


  </div>
  <div class="yer col-md-12 col-lg-6">
   
    <div class="logincard">
      <h2>Signup</h2>
      <form class="form signup-form">
      <div class="form-group d-flex flex-column mt-5">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group d-flex flex-column">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group d-flex flex-column mb-2">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="lgbtn" type="submit">signup</button>
      </div>
    </form>
    </div>
    
  </div>
</div>

<script src="./js/login.js"></script>