:root {
    --first-color: rgb(238, 155, 155);
    --second-color: rgb(89, 128, 143);
    --third-color: rgb(65, 62, 62);
  }

body{
    display: grid;
    grid-template-rows: 10% 90%;
}


/* -----------------------create.hbs------------------------ */
.createhbs{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 90vh;
}

/* LEFT SIDE*/
.exampleSide{
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-rows: 10% 10% 65% 15%;
    margin: 10px;
    border: 1px black solid;
    margin:0 10%;
}

.mainHeader{
    background-color: var(--first-color);
}

.midsection{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px;
}

.quote{
    text-align: center;
    margin: 10px;
}

.hero{
    grid-template-rows: 50% 50%;
}

.block{
    background-color:  var(--second-color);
    height: 50%;
    margin: 0% 20%;
}

.titleAndP{
    display: flex;
    flex-direction: column;
}

.exTitle{
    text-align: center;
    margin:0px;
}

.exParagraph{
    margin:10px 5px;
}

.exFooter{
    background-color:  var(--third-color);
    display: block;
}

/* RIGHT SIDE */
.chooserSide{
    display: flex;
    flex-direction: column;
    grid-template-rows: 25% 20% 20%;
    grid-template-columns: 100%;
    align-items: center;
    margin:15% 0;
    font-size: 20px;
}

.fontOptions{
    display:flex;
    flex-direction: column;
}

.form-select{
    margin:5px;
}

.colorOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin:20px 0;
}

.colors{
    margin:5px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#color1{
    background-color: var(--first-color);
}

#color2{
    background-color: var(--second-color);
}

#color3{
    background-color: var(--third-color);
}

.btn{
    margin:0 10px;
    background-color:rgb(185, 182, 182);
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* -----------------------homepage.hbs------------------------ */

* {
    margin: 0;
    padding: 0;
}


.displayTemplate {
    height: auto;
    width: 600px;
}
.ad-img-container {
    display: flex;
    justify-content: center;
}
.team-card {
    background-color: rgb(236, 101, 101);
    border-radius: 20px;
    height: 200px;
    width: 500px;
}

.team-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-card-info p{
    margin-bottom: 0;
    
}

.ad {
    background-color: rgb(255, 255, 255);
}

.ad1 {
    line-height: 40px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

.ad2 {
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.dl-bt {
    border-style: none;
    background-color: rgb(93, 154, 233);
    border-radius: 10px;
    height: 50px;
    widtH: 150px;
}

.gt-bt {
    border-style: none;
    border-radius: 10px;
    height: 50px;
    widtH: 150px;
}